body {
    background: #f2f2f2;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    color: #555;
    font: 12px/1.5 "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
    margin: 0;
}

/* section */
.section {
    width: 95%;
    margin: 2.5%;
    background: #fff;
    box-shadow: 1px 1px 2px #ddd;
}
.s-title {
    font-size: 20px;
    padding: 15px;
    color: #fff;
}
.s-footer {
    text-align: right;
    font-size: 0;
}
.s-footer .f-icon {
    width: 24px;
    height: 24px;
    margin: 10px;
}

/* dianping */
.foods .s-title {
    background: #3baa24;
}
.dianping {
    margin: 0;
    padding: 0 15px;
    background: #f9f9f9;
    list-style-type: none;
}
.d-item {
    border-bottom: 1px solid #eaeaea;
    line-height: 2;
    padding: 15px 0;
    position: relative;
}
.d-item:last-child {
    border-bottom: none;
}
.d-name {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.d-rate {
    line-height: 1;
    color: #f26321;
    letter-spacing: -5px;
    margin-left: -4px;
    margin-bottom: 2px;
}
.d-meta {
    color: #aaa;
}
.d-tags:after {
    content: ' ·';
}
.d-tags:last-child:after {
    content: '';
}
.d-fly {
    margin-top: 28px;
    position: absolute;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: #3baa24;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #fff;
}

/* douban */
.movie .s-title {
    background: rgb(82,200,182);
}
.douban {
    margin: 0;
    padding: 0 15px;
    background: #f9f9f9;
    list-style-type: none;
}
.b-img {
    float: left;
    width: 88px;
    height: 123px;
    margin-right: 15px;
}
.b-actors, .b-duration {
    color: #aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.b-fly {
    display: inline-block;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: #52C8B6;
    text-decoration: none;
    color: #fff;
}