body {
    position: relative;
    background: #f2f2f2;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    color: #555;
    font: 12px/1.5 "Roboto","Lantinghei SC","Microsoft Yahei",Helvetica,Arial,sans-serif;
}
p {
    margin: 0;
}
.app {
    overflow: hidden;
}
.box-shadow {
    box-shadow: 1px 1px 2px #ddd;
}
body:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background: #ddd;
    top: 0;
    left: 11px;
}
/* section */
.section {
    margin: 60px 10px 20px 25px;
}
.s-title {
    position: relative;
    font-size: 14px;
    line-height: 29px;
    display: inline-block;
    padding: 0 20px;
    margin: 0 0 20px 10px;
    color: #fff;
    border-radius: 1px;
}
.s-title:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #3baa24;
    top: 10px;
    left: -10px;
}
.s-circle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid #3baa24;
    top: 4px;
    left: -33px;
    z-index: 99;
}
.s-circle:after {
    content: '';
    position: absolute;
    background: #3baa24;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    z-index: 99;
}
.s-footer {
    background: #fff;
    text-align: right;
}
.s-footer .f-icon {
    width: 24px;
    height: 24px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* dianping */
.foods .s-title {
    background: #3baa24;
}
.dianping {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    list-style-type: none;
}
.d-item {
    padding: 15px 0;
    line-height: 2;
    position: relative;
}
.d-item:last-child {
    border-bottom: none;
}
.d-wrapper {
    margin-left: 15px;
}
.d-name {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.d-rate {
    line-height: 1;
    color: #f26321;
    letter-spacing: -5px;
    margin-left: -4px;
    margin-bottom: 2px;
}
.d-meta {
    color: #aaa;
}
.d-tags:after {
    content: ' ·';
}
.d-tags:last-child:after {
    content: '';
}
.d-fly {
    margin-top: 35px;
    position: absolute;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: #3baa24;
    top: 0;
    right: 15px;
    text-decoration: none;
    color: #fff;
}

/* 地图 */
.mappp .s-title, .mappp .s-circle:after {
    background: #38d;
}
.mappp .s-title:after {
    border-right-color: #38d;
}
.mappp .s-circle {
    border-color: #38d;
}
#map-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin:0;
}
.m-fly {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: #38d;
    text-decoration: none;
    color: #fff;
}
.map-destination {
    vertical-align: middle;
    height: 24px;
    width: 120px;
    border: 1px solid #ddd;
    margin: 0;
    padding: 2px 5px;
    outline: 0;
}
/* douban */
.movie .s-title, .movie .s-circle:after {
    background: rgb(82,200,182);
}
.movie .s-title:after {
    border-right-color: rgb(82,200,182);
}
.movie .s-circle {
    border-color: rgb(82,200,182);
}
.douban {
    margin: 0;
    padding: 0 15px;
    background: #f9f9f9;
    list-style-type: none;
}
.b-img {
    float: left;
    width: 88px;
    height: 123px;
    margin-right: 15px;
}
.b-actors, .b-duration {
    color: #aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.b-fly {
    display: inline-block;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: #52C8B6;
    text-decoration: none;
    color: #fff;
}

/* video */

.video .s-title, .video .s-circle:after {
    background: rgb(254,193,83);
}
.video .s-title:after {
    border-right-color: rgb(254,193,83);
}
.video .s-circle {
    border-color: rgb(254,193,83);
}
.v-fly {
    display: inline-block;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: rgb(254,193,83);
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
}

/* video */

.sports .s-title, .sports .s-circle:after {
    background: rgb(239,77,80);
}
.sports .s-title:after {
    border-right-color: rgb(239,77,80);
}
.sports .s-circle {
    border-color: rgb(239,77,80);
}
.sports-ul {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    list-style-type: none;
}
.s-img {
    height: 34px;
    vertical-align: middle;
    margin: 0 15px;
}
.s-name,.s-score {
    font-size: 24px;
    line-height: 34px;
    vertical-align: middle;
}
.s-score {
    float: right;
    margin-right: 15px;
}

.ui-slider {
    overflow: hidden;
    position: relative;
}

.ui-slider-group {
    overflow: hidden;
    position: relative;
    white-space:nowrap;
    -webkit-transform: translateZ(0);
}

.ui-slider-item {
    position: relative;
    float:left;
    overflow: hidden;
    -webkit-box-sizing:border-box;
}

/* weather */
.weather .box-shadow{
    text-align: center;
    padding: 15px 0px;
    background: #fff;
}
.weather .weather-date {
    font-size: 18px;
}
.weather .s-title, .weather .s-circle:after {
    background: rgb(194,136,106);
}
.weather .s-title:after {
    border-right-color: rgb(194,136,106);
}
.weather .s-circle {
    border-color: rgb(194,136,106);
}
.weather-pm25 {
    font-size: 16px;
}
.sunny {
    margin: 10px 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(254,193,83);
    border-radius: 100%;
    box-shadow: 0 0 5px 2px rgb(254,193,83);
    animation:fade 2s infinite;
    -webkit-animation:fade 2s infinite;
}
@keyframes fade {
    from { -webkit-transform: scale3d(1,1,0);}
    50% { -webkit-transform: scale3d(1.1,1.1,0);}
    to { -webkit-transform: scale3d(1,1,0);}
}
 
@-webkit-keyframes fade {
    from { -webkit-transform: scale3d(1,1,0);}
    50% { -webkit-transform: scale3d(1.1,1.1,0);}
    to { -webkit-transform: scale3d(1,1,0);}
}