
platforms/android/CordovaLib/bin/build.prop

platforms/android/CordovaLib/bin/AndroidManifest.xml.d

platforms/android/CordovaLib/bin/classes.jar

platforms/android/CordovaLib/gen/R.java.d

platforms/android/CordovaLib/local.properties

platforms/android/bin/AndroidManifest.xml.d

platforms/android/bin/HelloWorld-debug-unaligned.apk

platforms/android/bin/HelloWorld-debug-unaligned.apk.d

platforms/android/bin/HelloWorld-debug.apk

platforms/android/bin/HelloWorld.ap_

platforms/android/bin/HelloWorld.ap_.d

platforms/android/bin/build.prop

platforms/android/bin/classes.dex.d

platforms/android/gen/R.java.d

platforms/android/local.properties
