body {
    position: relative;
    background: #f2f2f2;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    color: #555;
    font: 12px/1.5 "Roboto","Lantinghei SC","Microsoft Yahei",Helvetica,Arial,sans-serif;
}
p {
    margin: 0;
}
.app {
    overflow: hidden;
}
.box-shadow {
    box-shadow: 1px 1px 2px #ddd;
}
body:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background: #ddd;
    top: 0;
    left: 11px;
}
/* section */
.section {
    margin: 20px 10px 20px 25px;
}
.s-title {
    position: relative;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    margin: 0 0 20px 10px;
    color: #fff;
    border-radius: 5px;
}
.s-title:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #3baa24;
    top: 10px;
    left: -10px;
}
.s-circle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid #3baa24;
    top: 4px;
    left: -33px;
    z-index: 99;
}
.s-circle:after {
    content: '';
    position: absolute;
    background: #3baa24;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    z-index: 99;
}
.s-footer {
    background: #fff;
    text-align: right;
    font-size: 0;
}
.s-footer .f-icon {
    width: 24px;
    height: 24px;
    margin: 10px;
}

/* dianping */
.foods .s-title {
    background: #3baa24;
}
.dianping {
    margin: 0;
    padding: 0 15px;
    background: #f9f9f9;
    list-style-type: none;
}
.d-item {
    border-bottom: 1px solid #eaeaea;
    line-height: 2;
    padding: 15px 0;
    position: relative;
}
.d-item:last-child {
    border-bottom: none;
}
.d-name {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.d-rate {
    line-height: 1;
    color: #f26321;
    letter-spacing: -5px;
    margin-left: -4px;
    margin-bottom: 2px;
}
.d-meta {
    color: #aaa;
}
.d-tags:after {
    content: ' ·';
}
.d-tags:last-child:after {
    content: '';
}
.d-fly {
    margin-top: 28px;
    position: absolute;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: #3baa24;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #fff;
}

/* 地图 */
#map-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin:0;
}
/* douban */
.movie .s-title, .movie .s-circle:after {
    background: rgb(82,200,182);
}
.movie .s-title:after {
    border-right-color: rgb(82,200,182);
}
.movie .s-circle {
    border-color: rgb(82,200,182);
}
.douban {
    margin: 0;
    padding: 0 15px;
    background: #f9f9f9;
    list-style-type: none;
}
.b-img {
    float: left;
    width: 88px;
    height: 123px;
    margin-right: 15px;
}
.b-actors, .b-duration {
    color: #aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.b-fly {
    display: inline-block;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: #52C8B6;
    text-decoration: none;
    color: #fff;
}

/* video */

.video .s-title, .video .s-circle:after {
    background: rgb(254,193,83);
}
.video .s-title:after {
    border-right-color: rgb(254,193,83);
}
.video .s-circle {
    border-color: rgb(254,193,83);
}
.v-comment {
    line-height: 1;
    margin-top: 5px;
    color: #aaa;
}
.v-fly {
    display: inline-block;
    line-height: 30px;
    width: 70px;
    text-align: center;
    background: rgb(254,193,83);
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
}